        body, html {
            height: 100%;
            margin: 0;
        }
        .log-entry {
            font-size: 0.85rem; /* Adjust font size as needed */
        }
        .container-full {
            height: calc(100% - 56px); /* Adjust based on the height of the navbar */
        }